@model IEnumerable<TradingPub.Models.StocksTransaction>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h2>Stocks Transactions</h2>
    <p align="right">
        <a asp-action="Create" class="btn btn-primary">Add New</a>
    </p>
</div>

<table class="table table-borderless shadow rounded" style="width:100%">
    <thead class="text-light" style="background: #1E2830">
        <tr>
            <td style="font-size: 21px; font-weight: bold" align="center">
                @Html.DisplayNameFor(model => model.Trader)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                @Html.DisplayNameFor(model => model.Stocks)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                Info
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center" class="align-middle">
                    @Html.DisplayFor(modelItem => item.Trader.Name)
                </td>
                <td align="center" class="align-middle">
                    @Html.DisplayFor(modelItem => item.Stocks.Name)
                </td>
                <td align="center">
                    <a class="btn btn-success btn-sm" asp-action="Details" asp-route-id="@item.StocksID">Details</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.StocksID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<input type="button" class="btn btn-info" value="Back" onclick="window.location= '@Url.Action( "Index", "CryptoTransactions")'" />
