@model IEnumerable<TradingPub.Models.StocksTransaction>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">
    <h2>Stocks Transactions</h2>
</div>

<table class="table table-borderless shadow rounded" style="width:100%">
    <thead class="text-light" style="background: #1E2830">
        <tr>
            <td style="font-size: 21px; font-weight: bold" align="center">
                @Html.DisplayNameFor(model => model.Trader)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                @Html.DisplayNameFor(model => model.Stocks)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                @Html.DisplayNameFor(model => model.Stocks.Price)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                @Html.DisplayNameFor(model => model.StockResult)
            </td>
            <td style="font-size: 21px; font-weight:bold" align="center">
                @Html.DisplayNameFor(model => model.StockAmount)
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td align="center" class="align-middle">
                @Html.DisplayFor(modelItem => item.Trader.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Stocks.Name)
            </td>
            <td align="center">
                @Html.DisplayFor(modelItem => item.Stocks.Price)
            </td>
            @if (item.StockResult == "Loss")
            {
                <td align="center" style="color: red">
                    @Html.DisplayFor(modelItem => item.StockResult)
                </td>
            }
            else if (item.StockResult == "Win")
            {
                <td align="center" style="color: green">
                    @Html.DisplayFor(modelItem => item.StockResult)
                </td>
            }
            @if (item.StockAmount <= 0)
            {
                <td align="center" style="color: red">
                    @Html.DisplayFor(modelItem => item.StockAmount)
                </td>
            }
            else if (item.StockAmount >= 0)
            {
                <td align="center" style="color: green">
                    @Html.DisplayFor(modelItem => item.StockAmount)
                </td>
            }
        </tr>
        }
    </tbody>
</table>

<input type="button" class="btn btn-danger" value="Back" onclick="window.location= '@Url.Action( "Index", "CryptoTransactions")'" />
