@model TradingPub.Models.CryptoTransaction

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Crypto Transactions Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trader.TraderID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trader.TraderID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trader.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trader.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crypto.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crypto.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Crypto.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Crypto.Name)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info text-light" asp-action="Index">Back</a>
</div>
