@model TradingPub.Models.Crypto

@{
    ViewData["Title"] = "Delete";
}

<div class="text-center">
    <h4>Delete this Crypto Quotation?</h4>
</div>

<div class="container">
    <div class="table table-borderless shadow rounded text-center p-2 text-light" style="background: #1E2830">
        <style type="text/css">
            .table {
                margin: 0 auto;
                width: 40%;
            }
        </style>
        <dl class="table text-center p-2 text-light">
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
        <form asp-action="Delete" class="p-4">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Back</a>
        </form>
    </div>
</div>
