@model TradingPub.Models.Crypto

@{
    ViewData["Title"] = "Details";
}

<div class="text-center">
    <h4>Crypto Quotation Details</h4>
</div>

<div class="container">
    <div class="table table-borderless shadow rounded text-center p-2 text-dark" style="background: #D4D8D7">
        <style type="text/css">
            .table {
                margin: 0 auto;
                width: 40%;
            }
        </style>
        <dl class="table text-center p-2 text-dark">
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.ID)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="p-2" style="font-size: 21px">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
        <div class="form-group p-2">
            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a class="btn btn-danger" asp-action="Index">Back</a>
        </div>
    </div>
</div>
