@model IEnumerable<System.Security.Claims.Claim>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<div class="d-flex justify-content-between">
    <h2>Claims</h2>
    <p align="right">
        <a asp-action="Create" class="btn btn-primary">Create a Claim</a>
    </p>
</div>

<table class="table table-borderless shadow rounded" style="width:100%">
    <thead class="text-light" style="background: #1E2830">
        <tr style="font-size: 21px; font-weight: bold" align="center">
            <th>Subject</th>
            <th>Issuer</th>
            <th>Type</th>
            <th>Value</th>
            <td i class="bi bi-activity" style="font-size: 21px; font-weight:bold" align="center"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var claim in Model.OrderBy(x => x.Type))
        {
        <tr align="center" class="align-middle" style="font-size: small">
            <td>@claim.Subject.Name</td>
            <td>@claim.Issuer</td>
            <td>@claim.Type</td>
            <td>@claim.Value</td>
            <td>
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="claimValues"
                           value="@claim.Type;@claim.Value;@claim.Issuer" />
                    <button i class="btn btn-danger btn-sm bi bi-x-lg">                    
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
